<!--SomeItem-->
    <div class="mb-1">
      <button id="addButton" mat-raised-button color="primary" class="btn btn-secondary" [routerLink]="['new']" [attr.aria-label]="Add">Add</button>
    </div>
    <br />
    <parentFilterAndPaging #parentFilterAndPagingRef [paginationData]="paginationData" [query]="query" [filterType]="filterType" [fieldFilterModel]="fieldFilterModel" [filterValue]="filterValue" (onListClicked)="getList()" (onPageChanged)="pageChanged($event)"
      (onUpdatingSort)="updateSort($event.value)" (onUpdatingFilter)="updateFilter($event)">
    </parentFilterAndPaging>
    <br />
    <div class="mb-1">
      <ngx-datatable
        *ngIf="listWithCount" class="material"
        [rows]="rows"
        [columnMode]="'force'"
        [headerHeight]="50"
        [footerHeight]="50"
        [rowHeight]="'auto'"
        [externalPaging]="true"
        [externalSorting]="true"
        [count]="listWithCount.count"
        [offset]="paginationData.currentPage - 1"
        [limit]="paginationData.maxSize"
        (page)='onPageChanged($event)'
        (sort)="onSort($event)">
        <ngx-datatable-column name="Actions">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button id="editButton" mat-icon-button mat-button-sm (click)="edit(row)" [attr.aria-label]="edit"><mat-icon>edit</mat-icon></button>
            <button id="deleteButton" mat-icon-button mat-button-sm (click)="delete(row.id)" [attr.aria-label]="delete"><mat-icon>delete</mat-icon></button>
          </ng-template>
        </ngx-datatable-column>
        
        <!--id-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.id['x-ncg'].label }}" *ngIf="!formMetaData.properties.id['x-ncg'].view.list.isHidden"></ngx-datatable-column>
        
        <!--name-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.name['x-ncg'].label }}" *ngIf="!formMetaData.properties.name['x-ncg'].view.list.isHidden"></ngx-datatable-column>
        
      </ngx-datatable>
    </div>