<div *ngIf="item && myForm" formToInject>
    <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
      <!--id - integer-->
        <div class="mb-1">
          <small id="idErrorMsgs" *ngFor="let error of formMetaData.properties.id['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someArray - array-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="someArrayInput" #someArrayInput [placeholder]="formMetaData.properties.someArray['x-ncg'].label" 
             formControlName="someArray" type="text" />
          </mat-form-field>
          <small id="someArrayErrorMsgs" *ngFor="let error of formMetaData.properties.someArray['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someBoolean - boolean-->
        <div class="mb-1">
          <mat-checkbox id="someBooleanInput" #someBooleanInput formControlName="someBoolean" name="someBoolean_checkbox" [labelPosition]="'end'">
             {{formMetaData.properties.someBoolean['x-ncg'].label}}
          </mat-checkbox>
          <small id="someBooleanErrorMsgs" *ngFor="let error of formMetaData.properties.someBoolean['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someIntegerInt32 - integer-->
        <div class="mb-1">
          <small id="someIntegerInt32ErrorMsgs" *ngFor="let error of formMetaData.properties.someIntegerInt32['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someNumber - number-->
        <div class="mb-1">
          <small id="someNumberErrorMsgs" *ngFor="let error of formMetaData.properties.someNumber['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someNumberDouble - number-->
        <div class="mb-1">
          <small id="someNumberDoubleErrorMsgs" *ngFor="let error of formMetaData.properties.someNumberDouble['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someString - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="someStringInput" #someStringInput [placeholder]="formMetaData.properties.someString['x-ncg'].label" 
             formControlName="someString" type="text" />
          </mat-form-field>
          <small id="someStringErrorMsgs" *ngFor="let error of formMetaData.properties.someString['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someStringDateTime - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
            <input matInput id="someStringDateTimeInput" #someStringDateTimeInput [placeholder]="formMetaData.properties.someStringDateTime['x-ncg'].label" 
            formControlName="someStringDateTime" type="date" />
          </mat-form-field>
          <small id="someStringDateTimeErrorMsgs" *ngFor="let error of formMetaData.properties.someStringDateTime['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someStringEmail - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="someStringEmailInput" #someStringEmailInput [placeholder]="formMetaData.properties.someStringEmail['x-ncg'].label" 
             formControlName="someStringEmail" type="text" />
          </mat-form-field>
          <small id="someStringEmailErrorMsgs" *ngFor="let error of formMetaData.properties.someStringEmail['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someStringUid - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="someStringUidInput" #someStringUidInput [placeholder]="formMetaData.properties.someStringUid['x-ncg'].label" 
             formControlName="someStringUid" type="text" />
          </mat-form-field>
          <small id="someStringUidErrorMsgs" *ngFor="let error of formMetaData.properties.someStringUid['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--someStringUri - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="someStringUriInput" #someStringUriInput [placeholder]="formMetaData.properties.someStringUri['x-ncg'].label" 
             formControlName="someStringUri" type="text" />
          </mat-form-field>
          <small id="someStringUriErrorMsgs" *ngFor="let error of formMetaData.properties.someStringUri['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
        <div class="mb-1">
          <button mat-raised-button color="primary" id="backButton" type="button" class="btn btn-secondary" (click)="goBack()" [attr.aria-label]="back">Back</button>
          <button mat-raised-button color="primary" id="cancelButton" type="button" class="btn btn-secondary" (click)="onCancel()" [attr.aria-label]="cancel">Cancel</button>
          <button mat-raised-button color="primary" id="resetButton" type="button" [disabled]="myForm.pristine" class="btn btn-secondary" (click)="onReset()" [attr.aria-label]="reset">Reset</button>
          <button mat-raised-button color="primary" id="deleteButton" type="button" class="btn btn-danger" (click)="onDelete()" [attr.aria-label]="delete">Delete</button>
          <button mat-raised-button color="primary" id="submitButton" type="submit" [disabled]="myForm.invalid && isSubmitAttempted" class="btn btn-primary" [attr.aria-label]="submit">Submit</button>
        </div>
      </form>
    </div>
