<div *ngIf="item && myForm" formToInject>
      <form *ngIf="item" (ngSubmit)="onSubmit()" [formGroup]="myForm">
      
        
      <!--id - integer-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="idInput" #idInput [placeholder]="formMetaData.properties.id['x-ncg'].label" [formControl]="myForm.controls['id']" [(ngModel)]="item.id" type="number" /> </md-input-container> 
          <small id="idErrorMsgs" *ngFor="let error of formMetaData.properties.id['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--concurrencyStamp - string-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="concurrencyStampInput" #concurrencyStampInput [placeholder]="formMetaData.properties.concurrencyStamp['x-ncg'].label" [formControl]="myForm.controls['concurrencyStamp']" [(ngModel)]="item.concurrencyStamp" type="text" /> </md-input-container> 
          <small id="concurrencyStampErrorMsgs" *ngFor="let error of formMetaData.properties.concurrencyStamp['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--created - string-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="createdInput" #createdInput [placeholder]="formMetaData.properties.created['x-ncg'].label" [formControl]="myForm.controls['created']" [(ngModel)]="item.created" type="date" /> </md-input-container> 
          <small id="createdErrorMsgs" *ngFor="let error of formMetaData.properties.created['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--issuerValue - string-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="issuerValueInput" #issuerValueInput [placeholder]="formMetaData.properties.issuerValue['x-ncg'].label" [formControl]="myForm.controls['issuerValue']" [(ngModel)]="item.issuerValue" type="text" /> </md-input-container> 
          <small id="issuerValueErrorMsgs" *ngFor="let error of formMetaData.properties.issuerValue['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--name - string-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="nameInput" #nameInput [placeholder]="formMetaData.properties.name['x-ncg'].label" [formControl]="myForm.controls['name']" [(ngModel)]="item.name" type="text" /> </md-input-container> 
          <small id="nameErrorMsgs" *ngFor="let error of formMetaData.properties.name['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--users - array-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="usersInput" #usersInput [placeholder]="formMetaData.properties.users['x-ncg'].label" [formControl]="myForm.controls['users']" [(ngModel)]="item.users" type="text" /> </md-input-container> 
          <small id="usersErrorMsgs" *ngFor="let error of formMetaData.properties.users['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
      
        <div *ngIf="!myForm.valid" class="mb-1 ui error message">Form is invalid</div>
        <div class="mb-1">
          <button md-raised-button color="primary" id="backButton" type="button" class="btn btn-secondary" (click)="goBack()" [attr.aria-label]="back">Back</button>
          <button md-raised-button color="primary" id="cancelButton" type="button" class="btn btn-secondary" (click)="onCancel()" [attr.aria-label]="cancel">Cancel</button>
          <button md-raised-button color="primary" id="resetButton" type="button" [disabled]="myForm.pristine" class="btn btn-secondary" (click)="onReset()" [attr.aria-label]="reset">Reset</button>
          <button md-raised-button color="primary" id="deleteButton" type="button" class="btn btn-danger" (click)="onDelete()" [attr.aria-label]="delete">Delete</button>
          <button md-raised-button color="primary" id="submitButton" type="submit" [disabled]="myForm.invalid && isSubmitAttempted" class="btn btn-primary" [attr.aria-label]="submit">Submit</button>
        </div>
      </form>
    </div>