<div *ngIf="item && myForm" formToInject>
    <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
      <!--id - integer-->
        <div class="mb-1">
          <small id="idErrorMsgs" *ngFor="let error of formMetaData.properties.id['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--concurrencyStamp - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="concurrencyStampInput" #concurrencyStampInput [placeholder]="formMetaData.properties.concurrencyStamp['x-ncg'].label" 
             formControlName="concurrencyStamp" type="text" />
          </mat-form-field>
          <small id="concurrencyStampErrorMsgs" *ngFor="let error of formMetaData.properties.concurrencyStamp['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--created - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
            <input matInput id="createdInput" #createdInput [placeholder]="formMetaData.properties.created['x-ncg'].label" 
            formControlName="created" type="date" />
          </mat-form-field>
          <small id="createdErrorMsgs" *ngFor="let error of formMetaData.properties.created['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--issuerValue - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="issuerValueInput" #issuerValueInput [placeholder]="formMetaData.properties.issuerValue['x-ncg'].label" 
             formControlName="issuerValue" type="text" />
          </mat-form-field>
          <small id="issuerValueErrorMsgs" *ngFor="let error of formMetaData.properties.issuerValue['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--name - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="nameInput" #nameInput [placeholder]="formMetaData.properties.name['x-ncg'].label" 
             formControlName="name" type="text" />
          </mat-form-field>
          <small id="nameErrorMsgs" *ngFor="let error of formMetaData.properties.name['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--users - array-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="usersInput" #usersInput [placeholder]="formMetaData.properties.users['x-ncg'].label" 
             formControlName="users" type="text" />
          </mat-form-field>
          <small id="usersErrorMsgs" *ngFor="let error of formMetaData.properties.users['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
        <div class="mb-1">
          <button mat-raised-button color="primary" id="backButton" type="button" class="btn btn-secondary" (click)="goBack()" [attr.aria-label]="back">Back</button>
          <button mat-raised-button color="primary" id="cancelButton" type="button" class="btn btn-secondary" (click)="onCancel()" [attr.aria-label]="cancel">Cancel</button>
          <button mat-raised-button color="primary" id="resetButton" type="button" [disabled]="myForm.pristine" class="btn btn-secondary" (click)="onReset()" [attr.aria-label]="reset">Reset</button>
          <button mat-raised-button color="primary" id="deleteButton" type="button" class="btn btn-danger" (click)="onDelete()" [attr.aria-label]="delete">Delete</button>
          <button mat-raised-button color="primary" id="submitButton" type="submit" [disabled]="myForm.invalid && isSubmitAttempted" class="btn btn-primary" [attr.aria-label]="submit">Submit</button>
        </div>
      </form>
    </div>
