
<div fxLayout="row" fxLayoutAlign="center start">
  <div fxFlex="80">
    <mat-form-field style="width: 100%">
      <input id="searchInput" matInput [(ngModel)]="filterKeyword" placeholder="Search ..." />
    </mat-form-field>
  </div>
  <div fxFlex fxLayoutAlign="center center">
    <button id="getButton" mat-raised-button color="primary" class="btn btn-secondary" (click)="updateFilter()" [attr.aria-label]="Search">Search</button>
  </div>
</div>

<br />

<div fxLayout="row" fxLayoutAlign="center center">
  <button mat-button color="primary" class="btn btn-secondary" [attr.aria-label]="ShowAdvanced" (click)="isShowAdvancedFilters = !isShowAdvancedFilters"> {{ isShowAdvancedFilters ? "Hide Advanced" : "Show Advanced" }}</button>
</div>

<br />

<div *ngIf="isShowAdvancedFilters">
  <div fxLayout="row" fxLayoutAlign="center start">
    <div fxFlex="50">
      <mat-select fxFlex="90" id="fieldSelect" [(ngModel)]="filterValue.filterField" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let opt of fieldFilterModel" [value]="opt.value">{{ opt.display }}</mat-option>
      </mat-select>
    </div>
    <div fxFlex="50">
      <mat-select fxFlex="90" id="typeSelect" [(ngModel)]="filterValue.filterType" [ngModelOptions]="{standalone: true}">
        <mat-option *ngFor="let opt of filterType" [value]="opt.value">{{ opt.display }}</mat-option>
      </mat-select>
    </div>
  </div>

  <div>
    <ng-content select="[tableToInject]"></ng-content>
  </div>

  <div fxLayout="column">
    <div>
      <mat-form-field style="width: 100%">
        <input matInput [(ngModel)]="query.filter" placeholder="filter string" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width: 100%">
        <input matInput [(ngModel)]="query.orderBy" placeholder="orderBy" class="form-control" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width: 100%">
        <input matInput id="recordsPerPageInput" [(ngModel)]="query.top" placeholder="top" type="number" class="form-control" />
      </mat-form-field>
    </div>

    <div>
      <mat-form-field style="width: 100%">
        <input matInput [(ngModel)]="query.skip" placeholder="skip" type="number" class="form-control" />
      </mat-form-field>
    </div>
  </div>
</div>



<!-- NinjaCodeGen.com by DNAfor.NET -->