<div fxLayout="column" fxFlex [class.dark-theme]="isDarkTheme">
  <mat-toolbar color="primary">
    <span>NCG NG Material Design</span>
    <button id="sideBarToggleButton" mat-icon-button (click)="sidenav.toggle()">
      <mat-icon>more_vert</mat-icon>
    </button>
    <!-- Filler that pushes the menu button to the end of the toolbar -->
    <span fxFlex></span>
    <button mat-icon-button [matMenuTriggerFor]="themeMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </mat-toolbar>
  <mat-sidenav-container fxFlex class="app-inner">
    <mat-sidenav #sidenav mode="side" id="sidebar-panel" class="sidebar-panel" [opened]="true">
      <mat-nav-list appAccordion class="navigation">
        <mat-list-item appAccordionLink *ngFor="let menuitem of menuItems.getAll()" group="{{ menuitem.state }}">
          <a appAccordionToggle class="relative" mat-ripple [routerLink]="['/', menuitem.state]" *ngIf="menuitem.type === 'link'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a appAccordionToggle class="relative" mat-ripple href="{{ menuitem.state }}" *ngIf="menuitem.type === 'extLink'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a appAccordionToggle class="relative" mat-ripple href="{{ menuitem.state }}" target="_blank" *ngIf="menuitem.type === 'extTabLink'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
          </a>
          <a appAccordionToggle class="relative" mat-ripple href="javascript:;" *ngIf="menuitem.type === 'sub'">
            <mat-icon>{{ menuitem.icon }}</mat-icon>
            <span>{{ menuitem.name | translate }}</span>
            <span fxFlex></span>
            <span class="menu-badge mat-{{ badge.type }}" *ngFor="let badge of menuitem.badge">{{ badge.value }}</span>
            <mat-icon class="menu-caret">arrow_drop_down</mat-icon>
          </a>
          <mat-nav-list class="sub-menu" *ngIf="menuitem.type === 'sub'">
            <mat-list-item *ngFor="let childitem of menuitem.children" routerLinkActive="open">
              <a [routerLink]="['/', menuitem.state, childitem.state ]" class="relative" mat-ripple>{{ childitem.name | translate }}</a>
            </mat-list-item>
          </mat-nav-list>
        </mat-list-item>
      </mat-nav-list>
    </mat-sidenav>
    <router-outlet></router-outlet>
    <footer>
      <span>Generated with <a [href]="url" target="_blank">NinjaCodeGen</a> by DNA</span>
    </footer>
  </mat-sidenav-container>
  <mat-menu #themeMenu x-position="before">
    <button mat-menu-item (click)="isDarkTheme = !isDarkTheme">Toggle Theme</button>
  </mat-menu>
</div>
<ncg-busyIndicator></ncg-busyIndicator>
<ncg-notifier></ncg-notifier>
<ncg-modal-dialog></ncg-modal-dialog>