<!--DefaultValidation-->
    <div class="mb-1">
      <button id="addButton" md-raised-button color="primary" class="btn btn-secondary" [routerLink]="['new']" [attr.aria-label]="Add">Add</button>
    </div>
    <br />
    <parentFilterAndPaging #parentFilterAndPagingRef [paginationData]="paginationData" [query]="query" [filterType]="filterType" [fieldFilterModel]="fieldFilterModel" [filterValue]="filterValue" (onListClicked)="getList()" (onPageChanged)="pageChanged($event)"
      (onUpdatingSort)="updateSort($event.value)" (onUpdatingFilter)="updateFilter($event)">
    </parentFilterAndPaging>
    <br />
    <div class="mb-1">
      <ngx-datatable 
        *ngIf="listWithCount" class="material" 
        [rows]="rows" 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50" 
        [rowHeight]="'auto'" 
        [externalPaging]="true" 
        [externalSorting]="true"
        [count]="listWithCount.count" 
        [offset]="paginationData.currentPage - 1"
        [limit]="paginationData.maxSize" 
        (page)='onPageChanged($event)'
        (sort)="onSort($event)">
        <ngx-datatable-column name="Actions">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button id="editButton" md-icon-button md-button-sm (click)="edit(row)" [attr.aria-label]="edit"><md-icon>edit</md-icon></button>
            <button id="deleteButton" md-icon-button md-button-sm (click)="delete(row.id)" [attr.aria-label]="delete"><md-icon>delete</md-icon></button>
          </ng-template>
        </ngx-datatable-column>
        
        <!--id-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.id['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--valEmailAddressPattern-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.valEmailAddressPattern['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--valMin0Max100Value-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.valMin0Max100Value['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--valMin2Max8Length-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.valMin2Max8Length['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--valRequiredField-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.valRequiredField['x-ncg'].label }}"></ngx-datatable-column>
         
      </ngx-datatable>
    </div>