<div *ngIf="item && myForm" formToInject>
      <form *ngIf="item" (ngSubmit)="onSubmit()" [formGroup]="myForm">
      
        
      <!--id - integer-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="idInput" #idInput [placeholder]="formMetaData.properties.id['x-ncg'].label" [formControl]="myForm.controls['id']" [(ngModel)]="item.id" type="number" /> </md-input-container> 
          <small id="idErrorMsgs" *ngFor="let error of formMetaData.properties.id['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--address - string-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="addressInput" #addressInput [placeholder]="formMetaData.properties.address['x-ncg'].label" [formControl]="myForm.controls['address']" [(ngModel)]="item.address" type="text" /> </md-input-container> 
          <small id="addressErrorMsgs" *ngFor="let error of formMetaData.properties.address['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--age - integer-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="ageInput" #ageInput [placeholder]="formMetaData.properties.age['x-ncg'].label" [formControl]="myForm.controls['age']" [(ngModel)]="item.age" type="number" /> </md-input-container> 
          <small id="ageErrorMsgs" *ngFor="let error of formMetaData.properties.age['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--createdBy - integer-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="createdByInput" #createdByInput [placeholder]="formMetaData.properties.createdBy['x-ncg'].label" [formControl]="myForm.controls['createdBy']" [(ngModel)]="item.createdBy" type="number" /> </md-input-container> 
          <small id="createdByErrorMsgs" *ngFor="let error of formMetaData.properties.createdBy['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--createdDate - string-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="createdDateInput" #createdDateInput [placeholder]="formMetaData.properties.createdDate['x-ncg'].label" [formControl]="myForm.controls['createdDate']" [(ngModel)]="item.createdDate" type="date" /> </md-input-container> 
          <small id="createdDateErrorMsgs" *ngFor="let error of formMetaData.properties.createdDate['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--emailAddress - string-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="emailAddressInput" #emailAddressInput [placeholder]="formMetaData.properties.emailAddress['x-ncg'].label" [formControl]="myForm.controls['emailAddress']" [(ngModel)]="item.emailAddress" type="text" /> </md-input-container> 
          <small id="emailAddressErrorMsgs" *ngFor="let error of formMetaData.properties.emailAddress['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--gender - integer-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="genderInput" #genderInput [placeholder]="formMetaData.properties.gender['x-ncg'].label" [formControl]="myForm.controls['gender']" [(ngModel)]="item.gender" type="number" /> </md-input-container> 
          <small id="genderErrorMsgs" *ngFor="let error of formMetaData.properties.gender['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--isActive - boolean-->
        <div class="mb-1">
           <md-checkbox id="isActiveInput" #isActiveInput [(ngModel)]="item.isActive" [ngModelOptions]="{standalone: true}" [align]="'end'" name="isActive_checkbox">{{formMetaData.properties.isActive['x-ncg'].label}}</md-checkbox> 
          <small id="isActiveErrorMsgs" *ngFor="let error of formMetaData.properties.isActive['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--name - string-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="nameInput" #nameInput [placeholder]="formMetaData.properties.name['x-ncg'].label" [formControl]="myForm.controls['name']" [(ngModel)]="item.name" type="text" /> </md-input-container> 
          <small id="nameErrorMsgs" *ngFor="let error of formMetaData.properties.name['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--password - string-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="passwordInput" #passwordInput [placeholder]="formMetaData.properties.password['x-ncg'].label" [formControl]="myForm.controls['password']" [(ngModel)]="item.password" type="text" /> </md-input-container> 
          <small id="passwordErrorMsgs" *ngFor="let error of formMetaData.properties.password['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--phone - string-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="phoneInput" #phoneInput [placeholder]="formMetaData.properties.phone['x-ncg'].label" [formControl]="myForm.controls['phone']" [(ngModel)]="item.phone" type="text" /> </md-input-container> 
          <small id="phoneErrorMsgs" *ngFor="let error of formMetaData.properties.phone['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--reOrderLevel - integer-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="reOrderLevelInput" #reOrderLevelInput [placeholder]="formMetaData.properties.reOrderLevel['x-ncg'].label" [formControl]="myForm.controls['reOrderLevel']" [(ngModel)]="item.reOrderLevel" type="number" /> </md-input-container> 
          <small id="reOrderLevelErrorMsgs" *ngFor="let error of formMetaData.properties.reOrderLevel['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--tenant - -->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="tenantInput" #tenantInput [placeholder]="formMetaData.properties.tenant['x-ncg'].label" [formControl]="myForm.controls['tenant']" [(ngModel)]="item.tenant" type="text" /> </md-input-container> 
          <small id="tenantErrorMsgs" *ngFor="let error of formMetaData.properties.tenant['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--tenantId - integer-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="tenantIdInput" #tenantIdInput [placeholder]="formMetaData.properties.tenantId['x-ncg'].label" [formControl]="myForm.controls['tenantId']" [(ngModel)]="item.tenantId" type="number" /> </md-input-container> 
          <small id="tenantIdErrorMsgs" *ngFor="let error of formMetaData.properties.tenantId['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--testString - integer-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="testStringInput" #testStringInput [placeholder]="formMetaData.properties.testString['x-ncg'].label" [formControl]="myForm.controls['testString']" [(ngModel)]="item.testString" type="number" /> </md-input-container> 
          <small id="testStringErrorMsgs" *ngFor="let error of formMetaData.properties.testString['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--uid - string-->
        <div class="mb-1">
          <md-input-container style="width: 100%"> <input mdInput id="uidInput" #uidInput [placeholder]="formMetaData.properties.uid['x-ncg'].label" [formControl]="myForm.controls['uid']" [(ngModel)]="item.uid" type="text" /> </md-input-container> 
          <small id="uidErrorMsgs" *ngFor="let error of formMetaData.properties.uid['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--updatedBy - integer-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="updatedByInput" #updatedByInput [placeholder]="formMetaData.properties.updatedBy['x-ncg'].label" [formControl]="myForm.controls['updatedBy']" [(ngModel)]="item.updatedBy" type="number" /> </md-input-container> 
          <small id="updatedByErrorMsgs" *ngFor="let error of formMetaData.properties.updatedBy['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
        
      <!--updatedDate - string-->
        <div class="mb-1">
           <md-input-container style="width: 100%"> <input mdInput id="updatedDateInput" #updatedDateInput [placeholder]="formMetaData.properties.updatedDate['x-ncg'].label" [formControl]="myForm.controls['updatedDate']" [(ngModel)]="item.updatedDate" type="date" /> </md-input-container> 
          <small id="updatedDateErrorMsgs" *ngFor="let error of formMetaData.properties.updatedDate['x-ncg'].errors" class="md-text-warn">{{error.message}}</small>
        </div>
      
      
        
        <div class="mb-1">
          <label for="tenantId">Tenant Id</label>
          <!--<input id="tenantId" type="text" class="form-control" [(ngModel)]="item.tenantId" >-->
          <md-select ngControl="tenantId" [(ngModel)]="item.tenantId" [ngModelOptions]="{standalone: true}">
            <md-option *ngFor="let opt of tenantList" [value]="opt.id">{{opt.name}}</md-option>
          </md-select>
        </div>
        
        <div class="mb-1">
          <label for="tenantId">Tenant Id</label>
          <!--<input id="tenantId" type="text" class="form-control" [(ngModel)]="item.tenantId" >-->
          <md-select ngControl="tenantId" [(ngModel)]="item.tenantId" [ngModelOptions]="{standalone: true}">
            <md-option *ngFor="let opt of tenantList" [value]="opt.id">{{opt.name}}</md-option>
          </md-select>
        </div>
        <div class="mb-1">
          <button md-raised-button color="primary" id="backButton" type="button" class="btn btn-secondary" (click)="goBack()" [attr.aria-label]="back">Back</button>
          <button md-raised-button color="primary" id="cancelButton" type="button" class="btn btn-secondary" (click)="onCancel()" [attr.aria-label]="cancel">Cancel</button>
          <button md-raised-button color="primary" id="resetButton" type="button" [disabled]="myForm.pristine" class="btn btn-secondary" (click)="onReset()" [attr.aria-label]="reset">Reset</button>
          <button md-raised-button color="primary" id="deleteButton" type="button" class="btn btn-danger" (click)="onDelete()" [attr.aria-label]="delete">Delete</button>
          <button md-raised-button color="primary" id="submitButton" type="submit" [disabled]="myForm.invalid && isSubmitAttempted" class="btn btn-primary" [attr.aria-label]="submit">Submit</button>
        </div>
      </form>
    </div>