<!--User-->
    <div class="mb-1">
      <button id="addButton" md-raised-button color="primary" class="btn btn-secondary" [routerLink]="['new']" [attr.aria-label]="Add">Add</button>
    </div>
    <br />
    <parentFilterAndPaging #parentFilterAndPagingRef [paginationData]="paginationData" [query]="query" [filterType]="filterType" [fieldFilterModel]="fieldFilterModel" [filterValue]="filterValue" (onListClicked)="getList()" (onPageChanged)="pageChanged($event)"
      (onUpdatingSort)="updateSort($event.value)" (onUpdatingFilter)="updateFilter($event)">
    </parentFilterAndPaging>
    <br />
    <div class="mb-1">
      <ngx-datatable 
        *ngIf="listWithCount" class="material" 
        [rows]="rows" 
        [columnMode]="'force'" 
        [headerHeight]="50" 
        [footerHeight]="50" 
        [rowHeight]="'auto'" 
        [externalPaging]="true" 
        [externalSorting]="true"
        [count]="listWithCount.count" 
        [offset]="paginationData.currentPage - 1"
        [limit]="paginationData.maxSize" 
        (page)='onPageChanged($event)'
        (sort)="onSort($event)">
        <ngx-datatable-column name="Actions">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            <button id="editButton" md-icon-button md-button-sm (click)="edit(row)" [attr.aria-label]="edit"><md-icon>edit</md-icon></button>
            <button id="deleteButton" md-icon-button md-button-sm (click)="delete(row.id)" [attr.aria-label]="delete"><md-icon>delete</md-icon></button>
          </ng-template>
        </ngx-datatable-column>
        
        <!--id-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.id['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--address-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.address['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--age-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.age['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--createdBy-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.createdBy['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--createdDate-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.createdDate['x-ncg'].label }}">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value | date:"MM/dd/yyyy" }}      
          </ng-template>
        </ngx-datatable-column>
        
        <!--emailAddress-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.emailAddress['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--gender-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.gender['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--isActive-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.isActive['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--name-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.name['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--password-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.password['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--phone-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.phone['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--reOrderLevel-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.reOrderLevel['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--tenant-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.tenant['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--tenantId-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.tenantId['x-ncg'].label }}"></ngx-datatable-column>
        
        <ngx-datatable-column name="{{ formMetaData.properties.tenantId['x-ncg'].label }}">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value }}
            <!--{{ value | myDisplayDataTransform:[tenantList,"id","name"] }}--> 
          </ng-template>
        </ngx-datatable-column>
        <!--testString-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.testString['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--uid-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.uid['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--updatedBy-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.updatedBy['x-ncg'].label }}"></ngx-datatable-column>
        
        <!--updatedDate-->
        
        <ngx-datatable-column name="{{ formMetaData.properties.updatedDate['x-ncg'].label }}">
          <ng-template let-row="row" let-value="value" ngx-datatable-cell-template>
            {{ value | date:"MM/dd/yyyy" }}      
          </ng-template>
        </ngx-datatable-column>
         
      </ngx-datatable>
    </div>