<div *ngIf="item && myForm" formToInject>
    <form (ngSubmit)="onSubmit()" [formGroup]="myForm">
      <!--id - integer-->
        <div class="mb-1">
          <small id="idErrorMsgs" *ngFor="let error of formMetaData.properties.id['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--afterDate - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
            <input matInput id="afterDateInput" #afterDateInput [placeholder]="formMetaData.properties.afterDate['x-ncg'].label" 
            formControlName="afterDate" type="date" />
          </mat-form-field>
          <small id="afterDateErrorMsgs" *ngFor="let error of formMetaData.properties.afterDate['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--age - integer-->
        <div class="mb-1">
          <small id="ageErrorMsgs" *ngFor="let error of formMetaData.properties.age['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--beforeDate - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
            <input matInput id="beforeDateInput" #beforeDateInput [placeholder]="formMetaData.properties.beforeDate['x-ncg'].label" 
            formControlName="beforeDate" type="date" />
          </mat-form-field>
          <small id="beforeDateErrorMsgs" *ngFor="let error of formMetaData.properties.beforeDate['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--containsDPT - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="containsDPTInput" #containsDPTInput [placeholder]="formMetaData.properties.containsDPT['x-ncg'].label" 
             formControlName="containsDPT" type="text" />
          </mat-form-field>
          <small id="containsDPTErrorMsgs" *ngFor="let error of formMetaData.properties.containsDPT['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--createdBy - integer-->
        <div class="mb-1">
          <small id="createdByErrorMsgs" *ngFor="let error of formMetaData.properties.createdBy['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--createdDate - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
            <input matInput id="createdDateInput" #createdDateInput [placeholder]="formMetaData.properties.createdDate['x-ncg'].label" 
            formControlName="createdDate" type="date" />
          </mat-form-field>
          <small id="createdDateErrorMsgs" *ngFor="let error of formMetaData.properties.createdDate['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--creditCard - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="creditCardInput" #creditCardInput [placeholder]="formMetaData.properties.creditCard['x-ncg'].label" 
             formControlName="creditCard" type="text" />
          </mat-form-field>
          <small id="creditCardErrorMsgs" *ngFor="let error of formMetaData.properties.creditCard['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--date - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
            <input matInput id="dateInput" #dateInput [placeholder]="formMetaData.properties.date['x-ncg'].label" 
            formControlName="date" type="date" />
          </mat-form-field>
          <small id="dateErrorMsgs" *ngFor="let error of formMetaData.properties.date['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--email - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="emailInput" #emailInput [placeholder]="formMetaData.properties.email['x-ncg'].label" 
             formControlName="email" type="text" />
          </mat-form-field>
          <small id="emailErrorMsgs" *ngFor="let error of formMetaData.properties.email['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--integer - integer-->
        <div class="mb-1">
          <small id="integerErrorMsgs" *ngFor="let error of formMetaData.properties.integer['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--isActive - boolean-->
        <div class="mb-1">
          <mat-checkbox id="isActiveInput" #isActiveInput formControlName="isActive" name="isActive_checkbox" [align]="'end'">
             {{formMetaData.properties.isActive['x-ncg'].label}}
          </mat-checkbox>
          <small id="isActiveErrorMsgs" *ngFor="let error of formMetaData.properties.isActive['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--phone - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="phoneInput" #phoneInput [placeholder]="formMetaData.properties.phone['x-ncg'].label" 
             formControlName="phone" type="text" />
          </mat-form-field>
          <small id="phoneErrorMsgs" *ngFor="let error of formMetaData.properties.phone['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--startsWithDPT - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="startsWithDPTInput" #startsWithDPTInput [placeholder]="formMetaData.properties.startsWithDPT['x-ncg'].label" 
             formControlName="startsWithDPT" type="text" />
          </mat-form-field>
          <small id="startsWithDPTErrorMsgs" *ngFor="let error of formMetaData.properties.startsWithDPT['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--string - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="stringInput" #stringInput [placeholder]="formMetaData.properties.string['x-ncg'].label" 
             formControlName="string" type="text" />
          </mat-form-field>
          <small id="stringErrorMsgs" *ngFor="let error of formMetaData.properties.string['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--uid - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="uidInput" #uidInput [placeholder]="formMetaData.properties.uid['x-ncg'].label" 
             formControlName="uid" type="text" />
          </mat-form-field>
          <small id="uidErrorMsgs" *ngFor="let error of formMetaData.properties.uid['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--updatedBy - integer-->
        <div class="mb-1">
          <small id="updatedByErrorMsgs" *ngFor="let error of formMetaData.properties.updatedBy['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--updatedDate - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
            <input matInput id="updatedDateInput" #updatedDateInput [placeholder]="formMetaData.properties.updatedDate['x-ncg'].label" 
            formControlName="updatedDate" type="date" />
          </mat-form-field>
          <small id="updatedDateErrorMsgs" *ngFor="let error of formMetaData.properties.updatedDate['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--url - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="urlInput" #urlInput [placeholder]="formMetaData.properties.url['x-ncg'].label" 
             formControlName="url" type="text" />
          </mat-form-field>
          <small id="urlErrorMsgs" *ngFor="let error of formMetaData.properties.url['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
      <!--zip - string-->
        <div class="mb-1">
          <mat-form-field style="width: 100%"> 
             <input matInput id="zipInput" #zipInput [placeholder]="formMetaData.properties.zip['x-ncg'].label" 
             formControlName="zip" type="text" />
          </mat-form-field>
          <small id="zipErrorMsgs" *ngFor="let error of formMetaData.properties.zip['x-ncg'].errors" class="mat-text-warn">{{error.message}}</small>
        </div>
        
        <div class="mb-1">
          <button mat-raised-button color="primary" id="backButton" type="button" class="btn btn-secondary" (click)="goBack()" [attr.aria-label]="back">Back</button>
          <button mat-raised-button color="primary" id="cancelButton" type="button" class="btn btn-secondary" (click)="onCancel()" [attr.aria-label]="cancel">Cancel</button>
          <button mat-raised-button color="primary" id="resetButton" type="button" [disabled]="myForm.pristine" class="btn btn-secondary" (click)="onReset()" [attr.aria-label]="reset">Reset</button>
          <button mat-raised-button color="primary" id="deleteButton" type="button" class="btn btn-danger" (click)="onDelete()" [attr.aria-label]="delete">Delete</button>
          <button mat-raised-button color="primary" id="submitButton" type="submit" [disabled]="myForm.invalid && isSubmitAttempted" class="btn btn-primary" [attr.aria-label]="submit">Submit</button>
        </div>
      </form>
    </div>
