<div id="confirmationModal" class="dialog-container">
  <div class="dialog-modal">
    <h5>{{title}}</h5>
    <p>{{message}}</p>
    <div class="dialog-button-bar">
      <button id="cancelButton">{{cancelText}} 
      <span class="mdl-button__ripple-container">
        <span class="mdl-ripple"></span>
      </span></button>
      <button id="okButton">{{okText}} 
      <span class="mdl-button__ripple-container">
        <span class="mdl-ripple"></span>
      </span></button>
    </div>
  </div>
</div>

<!--  NinjaCodeGen.com by DNAfor.NET -->